<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @shortened_url.url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @shortened_url.short_url %>
</p>

<%= link_to 'Create Shortened url', new_shortened_url_path %>
